body {
	padding: 0px;
}

#navbar {
	padding-left: 10px;
	padding-right: 20px;
	display: flex;
	justify-content: space-between;
}

.smaller {
	font-size: 10px;
	padding-left: 50px;
}

.bigger {
	font-size: 25px;
	margin-bottom: -10px;
}

.title {
	display: flex;
	align-items: center;
	width: 200px;
	justify-content: space-between;
}

.logo {
	width: 75px;
	margin: -10px;
	margin-bottom: -10px;
}

#navbar .fa {
	text-decoration: none;
	color: black;
}

.section {
	width: 100%;
	
}

.header {
	width: 100%;
}

.categories {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.categories a {
	width: 100%;
}

.products {
	display: flex;
	flex-wrap: wrap;
<<<<<<< HEAD
	padding-left: 50px;
	padding-right: 50px;
=======
	justify-content: space-between;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
}

.card {
	position: relative;
	height: 460px;
}

.card-body {
	position: absolute;
	bottom: 10px;
}

.cartItems {
	position: absolute;
	color: black;
	right: 10px;
	top: 10px;
	font-size: 13px;
	background-color: red;
	padding-right: 6px;
	padding-left: 6px;
	
	border-radius: 50px;
}

.fa {
	position: relative;
}

.heading {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 30px;
	text-align: center;
}

.cart-products {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	
	
}

.item {
	display: flex;
	margin-bottom: 30px;
}

.buttons {
	width: 18rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items:flex-start;
	padding-left: 30px;
>>>>>>> 65c39e13908fd5f77f6fae5dfb2549437697aa0b
}